<section id="testimonials" class="py-3">
    <div class="container">
        <h2 class="l-heading">What Our Guests Say</h2>
        <div class="testimonials">
            <div class="testimonial bg-primary">
                <img src="./assets/img/person-1.jpg" alt="Samantha">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus temporibus, consectetur
                    eveniet
                    deleniti ratione et vel aliquid eius ipsa commodi fugit doloribus cumque reprehenderit nesciunt
                    voluptates dicta mollitia placeat consequatur eaque! Ipsa veritatis voluptatum provident facilis
                    sunt
                    perferendis sint eum?</p>
            </div>
            <div class="testimonial bg-primary">
                <img src="./assets/img/person-2.jpg" alt="Jen">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus temporibus, consectetur
                    eveniet
                    deleniti ratione et vel aliquid eius ipsa commodi fugit doloribus cumque reprehenderit nesciunt
                    voluptates dicta mollitia placeat consequatur eaque! Ipsa veritatis voluptatum provident facilis
                    sunt
                    perferendis sint eum?</p>
            </div>
        </div>
    </div>
</section>