<section id="testimonials">
    <div class="container">
        <h2 class="l-heading">What Our Guests Say</h2>
        <div class="testimonials">
            <div class="testimonial bg-dark" fxLayout.gt-sm="row" fxLayout.lt-md="column"
                fxLayoutAlign.lt-md="center center">
                <img src="/assets/img/person-1.jpg" alt="Samantha">
                <p>The service here has just been fantastic. Whatever we needed was brought to us right away. Our event
                    coordinator was amazing, she has been most helpful. The food was so delicious. The entire experience
                    was really great.</p>
            </div>
            <div class="testimonial bg-dark" fxLayout.gt-sm="row" fxLayout.lt-md="column"
                fxLayoutAlign.lt-md="center center">
                <img src="/assets/img/person-2.jpg" alt="Jen">
                <p>Our stay with you have always been wonderful and this last time was no exception. Once again we can’t
                    praise highly enough to all the staff at the HRI and indeed the staff at the
                    whole resort who made our stay very special. Already we are looking forward to returning and very
                    much hope that this comes sooner rather than later. </p>
            </div>
        </div>
    </div>
</section>