/* Home Info */
#home-info {
  min-height: 450px;
  .container {
    height: 100%;
    .image-wrapper {
      overflow: hidden;
      .info-img {
        width: 100%;
        height: 100%;
        background: url("/assets/img/photo-1.jpg") center/cover;
        transform: scale(1.025);
        &:hover {
          transform: scale(1);
        }
      }
    }
    .info-content {
      width: 50%;
      min-height: 100%;
      text-align: center;
      padding: 50px 30px;
      overflow: hidden;
      p {
        padding-bottom: 30px;
      }
    }
  }
}
