<section id="home-info" class="bg-dark">
  <div class="container">
    <div fxFlex.gt-sm="50%" class="image-wrapper">
      <div fxHide.lt-md class="info-img"></div>
    </div>

    <div fxFlex.gt-sm="50%" class="info-content" fxFlex.lt-md="100%">
      <h2><span class="text-primary">The History</span> of our Hotel</h2>
      <p>
        Once a lonely island, HRI is right in the middle of the South Pacific.
        It took many years to build what we've build. Needless to say, the wait
        was worth it! Today we are proud to welcome countless of celebrities
        each year at our resort.
      </p>
      <a routerLink="/about" class="btn btn-light">Read More </a>
    </div>
  </div>
</section>
