<section id="features">
    <div class="container" fxLayout.gt-sm="row">
        <div class="box bg-light" fxFlex.gt-sm="calc(100% / 3)">
            <i class="fas fa-hotel fa-3x"></i>
            <h3>Beautiful Location</h3>
            <p>Experience life in its purest form.</p>
        </div>
        <div class="box bg-primary" fxFlex.gt-sm="calc(100% / 3)">
            <i class="fas fa-utensils fa-3x"></i>
            <h3>5-Star Meals</h3>
            <p>Only the best for our guests.</p>
        </div>
        <div class="box bg-light" fxFlex.gt-sm="calc(100% / 3)">
            <i class="fas fa-dumbbell fa-3x"></i>
            <h3>Fitness Rooms</h3>
            <p>Ever worked out with a celebrity?</p>
        </div>
    </div>
</section>