<section id="home-info" class="bg-dark">
    <div class="container">
        <div class="info-img"></div>
        <div class="info-content">
            <h2><span class="text-primary">The History</span> Of Our Hotel</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis excepturi natus placeat molestiae
                corporis.
                Aliquam sed quibusdam tempore? Rerum minima distinctio dicta quibusdam ad, autem debitis neque numquam
                itaque nemo est ullam? Facere sapiente vitae cum repudiandae ex quo eligendi!</p>
            <a routerLink="/about" class="btn btn-light">Read More
            </a>
        </div>
    </div>
</section>