<footer id="main-footer">
  <div class="container">
    <div
      class="boxes"
      fxLayout.lt-md="column"
      fxLayout.gt-sm="row"
      fxLayoutAlign="center"
    >
      <div class="box">
        <i class="fas fa-hotel fa-3x"></i>
        <h3>Location</h3>
        <p>Matangi Island Fiji</p>
      </div>
      <div class="box">
        <i class="fas fa-phone fa-3x"></i>
        <h3>Phone Number</h3>
        <p>+679 4783 3902</p>
      </div>
      <div class="box">
        <i class="fas fa-envelope fa-3x"></i>
        <h3>Email Adress</h3>
        <p>frontdesk@hotel-ri.com</p>
      </div>
    </div>
    <p class="copywrite">
      Hotel RI &copy; {{ currentYear }}, All Rights Reserved
    </p>
  </div>
</footer>
