@import "src/variables.scss";

/* Main-Footer */
#main-footer {
  text-align: center;
  background: $dark;
  color: $white;
  padding: 20px;
  .box {
    i {
      margin-bottom: 12px;
    }
  }
}

.credits {
  background-color: $black;
  p {
    color: $white;
    font-size: 16px;
    vertical-align: middle;
    .angular-icon {
      height: 14px;
    }
    a {
      color: $white;
      border-bottom: 1px solid $white;
      cursor: pointer;
      &:hover {
        color: $primary;
      }
    }
  }
}

@media (max-width: 959px) {
  .copywrite {
    margin-top: 80px;
  }
}