<header>
    <nav id="navbar" class="bg-dark">
        <div class="container" fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="space-between">
            <div fxLayoutAlign="space-between">
                <h1 class="logo"><a routerLink="/">HRI</a></h1>
                <div fxLayout="column" fxLayoutAlign="center start" fxHide.gt-sm class="burger" (click)="toggle()">
                    <div class="bar1 {{open ? 'change' : null}}"></div>
                    <div class="bar2 {{open ? 'change' : null}}"></div>
                    <div class="bar3 {{open ? 'change' : null}}"></div>
                </div>
            </div>

            <ul fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-md="column" [fxHide.lt-md]="!open">
                <li>
                    <a fxLayoutAlign="center" routerLink="/" routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }" (click)="toggle()">Home</a>
                </li>
                <li>
                    <a fxLayoutAlign="center" routerLink="/about" routerLinkActive="active-link"
                        (click)="toggle()">About</a>
                </li>
                <li>
                    <a fxLayoutAlign="center" routerLink="/contact" routerLinkActive="active-link"
                        (click)="toggle()">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>