<header>
    <nav id="navbar" class="bg-dark">
        <div class="container">
            <h1 class="logo"><a routerLink="/">HRI</a></h1>
            <ul>
                <li><a routerLink="/" routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }">Home</a>
                </li>
                <li><a routerLink="/about" routerLinkActive="active-link">About</a></li>
                <li><a routerLink="/contact" routerLinkActive="active-link">Contact</a></li>
            </ul>

        </div>

    </nav>
</header>