@import "src/variables.scss";

/* Contact Form */
#contact-form {
  .form-group {
    margin-bottom: 20px;
    label {
      display: block;
      margin-bottom: 5px;
    }
    input,
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px #ddd solid;
      &:focus {
        outline: none;
        border-color: $primary;
      }
    }
    textarea {
      height: 200px;
    }
  }
}
