/* Features */
.container {
  overflow: hidden;
  .box {
    i {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 959px) {
  section {
    padding: 0;
    .container {
      padding: 0;
    }
  }
}
