<section id="about-info" class="bg-light">
    <div class="container" fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="32px">
        <div fxFlex.gt-sm="50%" class="info-left" fxLayout="column" fxLayoutAlign="center center">
            <h1 class="l-heading"><span class="text-primary">About</span> Hotel RI</h1>
            <p>Experience the best time of your life in our tropical resort right in the Pacific Ocean. Our star cooks will deliver you only the freshest meals right into your room.
            </p>
            <p>Be part of something special. Reward yourself with the best time of your life. Spend your next holidays at HRI!</p>
        </div>
        <div class="info-right" fxFlex.gt-sm="50%">
        </div>
    </div>
</section>