@import 'src/variables.scss';

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

html,
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    height: 100%;
    scroll-behavior: smooth;
}

body::before {
    display: block;
    content: "";
    height: 64px;
}

section {
    padding: 64px 0;
}

ul {
    list-style-type: none;
}

a {
    color: $dark;
    text-decoration: none;
}

h1,
h2,
h3 {
    padding-bottom: 20px;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

/* Utility Classes */
.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.text-primary {
    color: $primary;
}

.text-shadowed {
    text-shadow: 2px 2px 3px $dark;
}

.bg-dark {
    background: $dark;
    color: $white;
}
.bg-light {
    background: $light;
    color: $dark;
}
.bg-primary {
    background: $primary;
    color: $dark;
}

.lead {
    font-size: 20px;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: $white;
    background: $dark;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    &:hover {
        border-radius: 8%;
        transform: scale(1.025);
    }
}

.btn:hover {
    background: $primary;
    color: $dark;
}

.btn-light {
    color: $dark;
    background: $light;
}

.l-heading {
    font-size: 40px;
}

.box {
    padding: 50px;
    text-align: center;
}

/* Padding */
.py-1 {
    padding: 10px 0;
}
.py-2 {
    padding: 20px 0;
}
.py-3 {
    padding: 30px 0;
}

@media (max-width: 959px) {
    section {
        padding: 24px 0;
    }
    .box {
        border-bottom: $grey solid;
    }
}
